# Queries
This document will contain all queries required for interaction between the application and the database.

In [16]:
# Import dependencies
import pandas as pd
import sqlalchemy as db

In [17]:
# Connect to database
engine = db.create_engine("postgresql://postgres:postgres@localhost:5432/investors_dream_db")
metadata_obj = db.MetaData()

#### Query function to create 'assets' table

In [3]:
# Define function
def create_assets_table():
    
    # Create table schema
    assets = db.Table(
        "assets",
        metadata_obj,
        db.Column("asset_id", db.Integer, primary_key=True),
        db.Column("ticker", db.String(length=255), unique=True, nullable=False),
        db.Column("name", db.String(length=255), nullable=False)
    )
    
    # Drop table if it exists, then create table
    try:
        assets.drop(engine, checkfirst=True)
        assets.create(engine)
        
    # If the above fails, catch and print error
    except db.exc.SQLAlchemyError as e:
        error = str(e)
        return(error)

create_assets_table()

'(psycopg2.errors.DependentObjectsStillExist) cannot drop table assets because other objects depend on it\nDETAIL:  constraint investments_asset_id_fkey on table investments depends on table assets\nconstraint assets_portfolios_asset_id_fkey on table assets_portfolios depends on table assets\nHINT:  Use DROP ... CASCADE to drop the dependent objects too.\n\n[SQL: \nDROP TABLE assets]\n(Background on this error at: https://sqlalche.me/e/14/2j85)'

In [4]:
metadata_obj.tables

FacadeDict({'assets': Table('assets', MetaData(), Column('asset_id', Integer(), table=<assets>, primary_key=True, nullable=False), Column('ticker', String(length=255), table=<assets>, nullable=False), Column('name', String(length=255), table=<assets>, nullable=False), schema=None)})

#### Query function to create 'exchanges' table

In [5]:
# Define function
def create_exchanges_table():
    
    # Create table schema
    exchanges = db.Table(
        "exchanges",
        metadata_obj,
        db.Column("exchange_id", db.Integer, primary_key=True),
        db.Column("name", db.String(length=255), nullable=False),
        db.Column("address", db.String(length=255)),
        db.Column("city", db.String(length=255)),
        db.Column("region", db.String(length=255)),
        db.Column("country", db.String(length=255)),
        db.Column("latitude", db.Float),
        db.Column("longitude", db.Float)
    )
    
    # Drop table if it exists, then create table
    try:
        exchanges.drop(engine, checkfirst=True)
        exchanges.create(engine)
        
    # If the above fails, catch and print error
    except db.exc.SQLAlchemyError as e:
        error = str(e)
        return(error)

create_exchanges_table()

'(psycopg2.errors.DependentObjectsStillExist) cannot drop table exchanges because other objects depend on it\nDETAIL:  constraint investments_exchange_id_fkey on table investments depends on table exchanges\nHINT:  Use DROP ... CASCADE to drop the dependent objects too.\n\n[SQL: \nDROP TABLE exchanges]\n(Background on this error at: https://sqlalche.me/e/14/2j85)'

In [6]:
metadata_obj.tables

FacadeDict({'assets': Table('assets', MetaData(), Column('asset_id', Integer(), table=<assets>, primary_key=True, nullable=False), Column('ticker', String(length=255), table=<assets>, nullable=False), Column('name', String(length=255), table=<assets>, nullable=False), schema=None), 'exchanges': Table('exchanges', MetaData(), Column('exchange_id', Integer(), table=<exchanges>, primary_key=True, nullable=False), Column('name', String(length=255), table=<exchanges>, nullable=False), Column('address', String(length=255), table=<exchanges>), Column('city', String(length=255), table=<exchanges>), Column('region', String(length=255), table=<exchanges>), Column('country', String(length=255), table=<exchanges>), Column('latitude', Float(), table=<exchanges>), Column('longitude', Float(), table=<exchanges>), schema=None)})

#### Query function to create 'investments' table

In [7]:
# Define function
def create_investments_table():
    
    # Create table schema
    investments = db.Table(
        "investments",
        metadata_obj,
        db.Column("investment_id", db.Integer, primary_key=True),
        db.Column("asset_id", db.Integer, db.ForeignKey('assets.asset_id', onupdate="CASCADE", ondelete="CASCADE"), nullable=False),
        db.Column("exchange_id", db.Integer, db.ForeignKey('exchanges.exchange_id', onupdate="CASCADE", ondelete="CASCADE"), nullable=False),
        db.Column("open_price", db.Float, nullable=False),
        db.Column("open_timestamp", db.DateTime, nullable=False),
        db.Column("close_price", db.Float, nullable=False),
        db.Column("close_timestamp", db.DateTime, nullable=False)
    )
    
    # Drop table if it exists, then create table
    try:
        investments.drop(engine, checkfirst=True)
        investments.create(engine)
        
    # If the above fails, catch and print error
    except db.exc.SQLAlchemyError as e:
        error = str(e)
        return(error)

create_investments_table()

#### Query function to create 'portfolios' table

In [8]:
# Define function
def create_portfolios_table():
    
    # Create table schema
    portfolios = db.Table(
        "portfolios",
        metadata_obj,
        db.Column("portfolio_id", db.Integer, primary_key=True),
        db.Column("name", db.String(length=255), unique=True, nullable=False),
        db.Column("investment_period", db.Integer, nullable=False)
    )
    
    # Drop table if it exists, then create table
    try:
        portfolios.drop(engine, checkfirst=True)
        portfolios.create(engine)
        
    # If the above fails, catch and print error
    except db.exc.SQLAlchemyError as e:
        error = str(e)
        return(error)

create_portfolios_table()

'(psycopg2.errors.DependentObjectsStillExist) cannot drop table portfolios because other objects depend on it\nDETAIL:  constraint assets_portfolios_portfolio_id_fkey on table assets_portfolios depends on table portfolios\nHINT:  Use DROP ... CASCADE to drop the dependent objects too.\n\n[SQL: \nDROP TABLE portfolios]\n(Background on this error at: https://sqlalche.me/e/14/2j85)'

#### Query function to create 'assets_portfolios' junction table

In [9]:
# Define function
def create_assets_portfolios_table():
    
    # Create table schema
    assets_portfolios = db.Table(
        "assets_portfolios",
        metadata_obj,
        db.Column("portfolio_id", db.Integer, db.ForeignKey('portfolios.portfolio_id', onupdate="CASCADE", ondelete="CASCADE"), nullable=False),
        db.Column("asset_id", db.Integer, db.ForeignKey('assets.asset_id', onupdate="CASCADE", ondelete="CASCADE"), nullable=False),
        db.Column("weight", db.Float, nullable=False)
    )
    
    # Drop table if it exists, then create table
    try:
        assets_portfolios.drop(engine, checkfirst=True)
        assets_portfolios.create(engine)
        
    # If the above fails, catch and print error
    except db.exc.SQLAlchemyError as e:
        error = str(e)
        return(error)

create_assets_portfolios_table()

In [ ]:
# Assign foreign keys for investments table
def investments_foreign_keys():
    query = """
        ALTER TABLE investments
        ADD CONSTRAINT fk_investments_asset_id FOREIGN KEY (asset_id) REFERENCES assets (asset_id);
    """
    query_result = pd.read_sql(query, engine)
    
    query = """
        ALTER TABLE investments
        ADD CONSTRAINT fk_investments_exchange_id FOREIGN KEY (exchange_id) REFERENCES exchanges (exchange_id);
    """
    query_result = pd.read_sql(query, engine)
    
investments_foreign_keys()

In [3]:
# Query to insert row into 'assets' table and return row id
def insert_into_assets(ticker, name, engine):
    query = """
        INSERT INTO assets
        (ticker, name)
        VALUES (
            '""" + ticker + """',
            '""" + name + """'
        )
        ON CONFLICT (ticker)
        DO UPDATE SET
            ticker='""" + ticker + """',
            name='""" + name + """'
        RETURNING asset_id;
    """
    query_result = pd.read_sql(query, engine)
    return query_result

In [ ]:
# Query to insert row into 'exchanges' table
def insert_into_exchanges(name, address, city, region, country, latitude, longitude):
    query = """
        INSERT INTO exchanges
        (name, address, city, region, country, latitude, longitude)
        VALUES (
            '""" + name + """',
            '""" + address + """',
            '""" + city + """',
            '""" + region + """',
            '""" + country + """',
            """ + str(latitude) + """,
            """ + str(longitude) + """
        );
    """
    
    query_result = pd.read_sql(query, engine)
    
insert_into_exchanges('Questrade', '5650 Yonge Street', 'Toronto', 'Ontario', 'Canada', 43.78037, -79.41643)

In [ ]:
# Query to insert row into 'investments' table
def insert_into_investments(asset_id, exchange_id, open_price, open_timestamp, close_price, close_timestamp):
    query = """
        INSERT INTO investments
        (asset_id, exchange_id, open_price, open_timestamp, close_price, close_timestamp)
        VALUES (
            """ + str(asset_id) + """,
            """ + str(exchange_id) + """,
            """ + str(open_price) + """,
            '""" + str(open_timestamp) + """',
            """ + str(close_price) + """,
            '""" + str(close_timestamp) + """'
        );
    """
    
    query_result = pd.read_sql(query, engine)
    
insert_into_investments(1, 1, 51.2345, pd.Timestamp.today(), 56.7890, pd.Timestamp.today())

In [6]:
# Query to insert row into 'portfolios' table and return row id
def insert_into_portfolios(name, investment_period, engine):
    query = """
        INSERT INTO portfolios
        (name, investment_period)
        VALUES (
            '""" + name + """',
            """ + str(investment_period) + """
        )
        ON CONFLICT (name)
        DO UPDATE SET
            name='""" + name + """'
        RETURNING portfolio_id;
    """
    
    query_result = pd.read_sql(query, engine)
    return(query_result)

In [1]:
# Query to insert row in 'assets_portfolios' junction table
def insert_into_assets_portfolios(portfolio_id, asset_id, weight, engine):
    query = """
        INSERT INTO assets_portfolios
        (portfolio_id, asset_id, weight)
        VALUES (
            """ + str(portfolio_id) + """,
            """ + str(asset_id) + """,
            """ + str(weight) + """
        )
        RETURNING 'portfolio_id';
    """
    
    pd.read_sql(query, engine)

In [ ]:
# Query to delete row from 'exchanges' table
def delete_from_exchanges(exchange_id):
    query = """
        DELETE FROM exchanges
        WHERE exchange_id = """ + str(exchange_id) + """;
    """
    
    query_result = pd.read_sql(query, engine)
    return(query_result)
    
print(delete_from_exchanges(2))

In [ ]:
# Query to delete row from 'portfolios' table
def delete_from_portfolios(portfolio_id):
    query = """
        DELETE FROM portfolios
        WHERE portfolio_id = """ + str(portfolio_id) + """;
    """
    
    query_result = pd.read_sql(query, engine)
    return(query_result)
    
print(delete_from_portfolios(2))

In [10]:
# Query to delete row from 'assets_portfolios' junction table
def delete_from_assets_portfolios(portfolio_id, engine):
    query = """
        DELETE
        FROM assets_portfolios
        WHERE portfolio_id = """ + str(portfolio_id) + """
        RETURNING portfolio_id;
    """
    
    query_result = pd.read_sql(query, engine)
    return(query_result)

In [ ]:
# Query to select data from 'exchanges' table
def select_from_exchanges(exchange_id):
    query = """
        SELECT * FROM exchanges
        WHERE exchange_id = """ + str(exchange_id) + """;
    """
    
    query_result = pd.read_sql(query, engine)
    return(query_result)
    
print(select_from_exchanges(2))

In [ ]:
# Query to select data from 'investments' table
def select_from_investments(investment_id):
    query = """
        SELECT * FROM investments
        WHERE investment_id = """ + str(investment_id) + """;
    """
    
    query_result = pd.read_sql(query, engine)
    return(query_result)
    
print(select_from_investments(2))

In [36]:
# Query to select all portfolio data
def select_all_portfolio_data(engine):
    query = """
        SELECT p.portfolio_id, p.name portfolio_name, p.investment_period, a.asset_id, a.ticker, a.name ticker_name, ap.weight
        FROM portfolios p
        INNER JOIN assets_portfolios ap ON p.portfolio_id = ap.portfolio_id
        INNER JOIN assets a ON ap.asset_id = a.asset_id;
    """
    
    query_result = pd.read_sql(query, engine)
    return(query_result)
    
# data = select_all_portfolio_data(engine)
# names = data['portfolio_name'].unique()
# names

array(['New portfolio 1'], dtype=object)

In [18]:
# Query to select specific portfolio data
def select_portfolio_data(portfolio_id):
    query = """
        SELECT *
        FROM portfolios p
        INNER JOIN assets_portfolios ap ON p.portfolio_id = ap.portfolio_id
        INNER JOIN assets a ON ap.asset_id = a.asset_id
        WHERE p.portfolio_id = """ + str(portfolio_id) + """;
    """
    
    query_result = pd.read_sql(query, engine)
    return(query_result)
    
#print(select_portfolio_data(1))